<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
            <div class="inner" align="center">
              <h1><img style="border-radius: 50%; width: 152px; height: 152px; margin: 1em" src="{{ site.baseurl }}/images/me.jpg"/><br>{{ site.title }}</h1>
            </div>
          <ul>
            <li><a href="{{ "/index.html#greeting" | prepend: site.baseurl }}">Home</a></li>{%
            assign sorted_pages = site.pages | sort: 'key','last' %}{%
            for my_page in sorted_pages %}{%
              if my_page.title %}{%
                unless my_page.options contains 'nomenu' %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>{%
                endunless %}{%
              endif %}{%
            endfor %}
            <li><div>
            {%
              for socloc in site.social limit:3 %}{%
                if socloc[1] %}
                
                {% if socloc[0] == 'email' %}
                <a target="_blank" href="{%
                    if socloc[1] contains '@' %}mailto:{{ socloc[1] }}{%
                    else %}{{ socloc[1] }}{%
                    endif %}" class="icon fa-envelope major style1" style="border: 0"
                       ><span class="label">E-mail</span></a>
                       {%
                  else %}
                <a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} major style1" style="border: 0"
                       ><span class="label">{{ socloc[0] }}</a>{%
                  endif %}{%
                endif %}
                {%endfor %}
                <div></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
